html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.main-area {
  height: 100vh;
  overflow: hidden;
  background-color: #858b92;

}

.main-wrapper {
  height: 100%;
  overflow: hidden;
}

.navbar-area {
  flex-shrink: 0;
  z-index: 1020; /* Ensure it's above sidebar */
}

.content-scroll {
  overflow-y: auto;
}

.sidebar-area {
  position: fixed;
  top: 0;
  right: 0;
  width: 16.6667%; /* 2/12 columns */
  height: 100vh;
  background-color: #fefce8; /* Optional: amber-50 */
  z-index: 5010;
  border-left: 1px solid #ddd;
}

.scrollable-sidebar {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}