/* SlideBar.css */
[data-bs-theme="dark"] .slidebar {
  background-color: #1c1c1c;
  color: #f1f1f1;
}

[data-bs-theme="light"] .slidebar {
  background-color: #f8f9fa;
  color: #212529;
  
}

[data-bs-theme="dark"] .slidebar-header{
  background-color: #343a40;
  color: #f1f1f1;
}
[data-bs-theme="light"] .slidebar-header{
  background-color: #e9ecef;
  color: #212529;

} 
.slidebar .accordion-item .accordion-header .accordion-button {
  /* background-color: #2c3e50; 
    color: #fff;  */
  padding-left:0;
    padding-right:0;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.slidebar .accordion-button::after {
  margin-right: auto; /* Push it to the far right */
  max-width: 30%;
  margin-left: 10px;
  margin-right:10px;
}

