@import "tailwindcss"; 
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
/* *{margin: 0;
padding: 0;
box-sizing: border-box;} */
/* body{
    font-family: 'Roboto', sans-serif;
} */